@import '{reywood:bootstrap3-sass}/bootstrap';

.react-grid-item{
  background: #ccc;
}

.workshop{
  width: 100%;
  height: 700px;
}

.sidebar{
  width: 280px;
  height: 700px;
  background: #eee;
  float: left;
}

.itembox{
  width: 90%;
  margin: 0 auto;
  height: 50px;
  background: #ccc;
  margin: 10px;
}

.main-content{
  width: 100%;
  padding-left: 300px;
  height: 700px;
}

.navbar{
  margin-bottom: 0px;
}

.btn-success{
  margin-left: 10px;
}

.Droppable{
  height: 800px;
}

.main-layout{
  width: 100%;
  height: 200px !important;
  background: green;
}
